<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="path_to_log_directory" value="/var/log/kalah"/>
	<property name="log_file_name" value="kalah.log"/>
	<property name="archive_directory_name" value="archived"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!--<appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
		<!--<file>${path_to_log_directory}/${log_file_name}</file>-->
		<!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
			<!--<Pattern>-->
				<!--%d{yyyy-MM-dd HH:mm:ss} %level [%file:%line]: %msg%n-->
			<!--</Pattern>-->
		<!--</encoder>-->

		<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
			<!--&lt;!&ndash; rollover daily &ndash;&gt;-->
			<!--<fileNamePattern>${path_to_log_directory}/${archive_directory_name}/${log_file_name}.%d{yyyy-MM-dd}.%i.log-->
			<!--</fileNamePattern>-->
			<!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
				<!--<maxFileSize>10MB</maxFileSize>-->
			<!--</timeBasedFileNamingAndTriggeringPolicy>-->
		<!--</rollingPolicy>-->
	<!--</appender>-->

	<!--to activate logging in log files uncomment two FILE-AUDIT appender from logger and-->
	<!--change user permissions/owner of ${path_to_log_directory} directory-->
	<logger name="com.backbase.kalah" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
		<!--<appender-ref ref="FILE-AUDIT"/>-->
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT"/>
		<!--<appender-ref ref="FILE-AUDIT"/>-->
	</root>
</configuration>
